.contactsBlock {
    height: 100%;
    background-color: #343a40;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    font-family: "Poppins", Sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content:   space-between;
    align-items: center;
    border: 1px solid;
    height: 200px;
    width: 80%;
}
input{
    width: 100%;
}
textarea{
    height: 70%;
    width: 100%;
}
/*.btn{*/
/*    padding: 10px 20px;*/
/*}*/

.back {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, .5);
    font-size: 2.25rem;
    opacity: 0.1;
    font-size: calc(1.95rem + 8.4vw);
    text-transform: uppercase;
    width: 100%;
    margin-top: 0;
    text-align: center;
}

.head {
    text-align: center;
    position: relative;
    display: flex;
}

.front{
    font-weight: 600;
    font-size: 2.25rem;
    color:white;
    align-self: center;
    width: 100%;
    position: absolute;
    margin-top: -50px;
    text-align: center;
}
.preForm{
    color:white;
}
@media screen and (max-width: 550px){
    .form {
        width: 100%;
    }
}