.skill {
    width: 45%;
    /*background: rgba(0, 0, 0, 0.7);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px ;
    text-align: center;
    padding: 10px;
    color:white;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: #403552;
    margin:5px;
}

.title{
    display: inline-block;
    padding: 0.35em 0.65em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: rgb(220,53,69);
}
.description{
    color: rgba(255,255,255,.5);
    line-height: 1.8;
}

@media screen and (max-width: 767px){
    .skill {
        width: 100%;
    }
}