.about {
    min-height: 100%;
    background-color: #343a40;
    width:100%;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    font-family: "Poppins", Sans-serif;

}
h3{
    //line-height: 1.2;
}
.text{
    padding: 10px;
}
.summary{
    display: block;
    /*flex-direction: column;*/
    /*!*justify-content: flex-start;*!*/
    /*align-items: flex-start;*/
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.back {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, .5);
    font-size: 2.25rem;
    opacity: 0.1;
    font-size: calc(1.95rem + 8.4vw);
    text-transform: uppercase;
    width: 100%;
    margin-top: 0;
    text-align: center;
}

.head {
    text-align: center;
    position: relative;
    display: flex;

}

.front{
    font-weight: 600;
    font-size: 2.25rem;
    color:white;
    align-self: center;
    width: 100%;
    position: absolute;
    margin-top: -50px;
    text-align: center;
}
/*.head::after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    background-color: #20c997;*/
/*    width: 55px;*/
/*    height: 3px;*/
/*    bottom:130px;*/
/*    left:50%;*/
/*    transform: translate(-50%,50%);*/
/*}*/